name: CD Example Production

on:
  push:
    branches:
      - main

jobs:
    deploy:
        name: CD Example Production
        runs-on: ubuntu-latest
        steps:
        - name: Checkout My Code
          uses: actions/checkout@v4  
        - name: SSH Connect
          uses: appleboy/ssh-action@v1 
          with:
            host: ${{ secrets.SERVER_HOST }}
            username: ${{ secrets.SERVER_USER }}
            password: ${{ secrets.SERVER_PASSWORD }}
            port: 22
            script: |
              echo "Berhasil Konek ke Server"
              if [ -d "/home/yis" ]; then
                echo "Ada folder YIS"
                cd /home/yis 
                echo "Berhasil Masuk ke Folder YIS"
              else
                echo "Gak ada folder YIS, membuat folder..."
                mkdir /home/yis
                cd /home/yis
              fi
